<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Restore password</h1>

<ul>
    <li sec:authorize="isAuthenticated()">Wellcome, <span sec:authentication="name"></span></li>
    <li><a class="nav-link" href="/">Main</a></li>
    <li sec:authorize="isAnonymous()"><a class="nav-link" href="/login">Login</a></li>
    <li sec:authorize="isAnonymous()"><a class="nav-link" href="/register">Register</a></li>
    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/create_note">Create notes</a></li>
    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/perform_logout">Logout</a></li>
</ul>

<p th:if="${error}" class="error">Try again</p>
<form method="post" th:object="${restorePasswordRequest}" th:action="@{/restore-passwd}">

    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <label for="email">Email</label>
    <br/>
    <input type="text" id="email" name="email" autofocus="autofocus"/> <br/>
    <br/>

    <input type="checkbox" name="shoeSize" value="1" style="display:none !important" tabindex="-1" autocomplete="off">


    <input type="submit" value="Send email">
</form>
</body>
</html>